[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Dagooberd
Comment=Dagooberd PA
Exec=~/dagooberd/run_linux.sh
Terminal=false
GenericName=
NoDisplay=true
